:root {
  --white: #f2f2f2;
  --font: "Permanent marker";
  --gray: #707070;
  --red: #ba0000;
  --darkgray: #3d3d3d;
}

#root,
:root {
  background-color: black;
}

/* body {
  cursor: url("../Images/custom-mouse.png"), auto;
} */

/* body a {
  cursor: url("../Images/custom-mouse.png"), auto;
  animation: cursor 0.5s linear infinite;
} */

/* @keyframes cursor {
  0% {
    cursor: url("../Images/custom-mouse1.png"), auto;
  }
  25% {
    cursor: url("../Images/custom-mouse2.png"), auto;
  }
  50% {
    cursor: url("../Images/custom-mouse3.png"), auto;
  }
  75% {
    cursor: url("../Images/custom-mouse4.png"), auto;
  }
  100% {
    cursor: url("../Images/custom-mouse4.png"), auto;
  }
} */

.footer {
  font-size: smaller;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  color: white;
}

.about-me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.berserk {
  font-family: "anton", sans-serif;
  color: #aa0000;
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-stroke-width: 0.1rem;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
}

.vagabond {
  font-family: "Permanent Marker", cursive;
  color: #bac53e;
  text-shadow: 0.4rem 0.3rem 0.2rem rgba(0, 0, 0, 0.658);
}

.jojo {
  font-family: "Noto Serif JP", serif;
  color: white;
}

.metallica {
  font-family: "Metal Mania", cursive;
  color: white;
}

.surfcurse {
  font-family: "Lacquer", system-ui;
  color: #aa0000;
}

.bladeRunner {
  font-family: "Rubik Glitch", cursive;
  color: aqua;
}

.eldenRing {
  font-family: "Metal Mania", cursive;
  color: gold;
}

.firePunch {
  font-family: "Oswald", sans-serif;
  color: #aa0000;
  background-image: url("../Images/fireimage.png");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 0, 0.637);
  -webkit-text-stroke-width: 0.05rem;
}

.hotline {
  font-family: "Alfa Slab One", cursive;
  color: rgb(240, 92, 153);
  -webkit-text-stroke-color: rgb(253, 171, 206);
  -webkit-text-stroke-width: 0.1rem;
  text-shadow: 0.25rem 0.25rem 0rem black, 0.5rem 0.5rem 0rem darkorange,
    0.75rem 0.75rem 0rem goldenrod;
}

.miami {
  font-family: "anton", sans-serif;
  color: rgb(139, 202, 245);
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-stroke-width: 0.05rem;
  text-shadow: 0.25rem 0.25rem 0rem black;
}

.metalGearSolid {
  font-family: "Fugaz One", sans-serif;
  color: red;
}

@media screen and (max-width: 768px) {
  .navbar li {
    display: flex;
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 370px) {
}
